.footer1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 2rem 0;
  gap: 50px;
}

.footerContact {
  max-width: 33%;
}

.footerContact p {
  margin-bottom: 1rem;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  color: var(--main-1);
}

.footerLinks a {
  text-decoration: unset;
  color: var(--main-1);
}

.footerLinks a:hover {
  text-decoration: underline;
}

.footer2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 0;
  border-top: 1px var(--text-2) solid;
}

.footer2 a {
  color: var(--main-1);
}

.socialNetwork a {
  margin: 0 0 0 1rem;
}

@media screen and (max-width: 768px) {
  .footerAdress {
    display: none;
  }

  .footer1 {
    flex-direction: column;
  }

  .footer1 * {
    width: 100%;
    max-width: 100%;
  }
}
