header {
  padding: 0.5rem 1rem;
  display: flex;
  height: 5rem;
  justify-content: center;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  transition: all 0.2s ease-in-out;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  header {
    height: 3.5rem;
  }

  header .container {
    justify-content: space-between;
  }
}

header * {
  max-height: 5rem;
}

.logo-header {
  height: 2.5rem;
  margin-right: 1rem;
}

.nav-list {
  margin-left: auto;
}

.nav-list ul {
  display: flex;
  justify-content: end;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .nav-list {
    display: none;
  }
}

.nav-list-item > * {
  color: var(--text-1);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-list-item a:hover {
  color: var(--text-4);
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.side-menu {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 0;
  left: 0;
  max-width: none;
  max-height: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  transition: all 3s ease-in-out 300;
}

.side-menu ul {
  max-width: 100vw;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 4rem;
  max-height: none;
  background-color: var(--main-2);
}

.side-menu li {
  margin-bottom: 1rem;
}

.close-side-menu-cross {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  font-size: 1.75rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .burger-menu {
    display: initial;
  }

  .close-side-menu-cross {
    display: initial;
  }
}
