.logoHeader {
  height: 2.5rem;
  margin-right: 1rem;
}

.navList {
  margin-left: auto;
}

.navList ul {
  display: flex;
  justify-content: end;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .navList {
    display: none;
  }
}

.navListItem > * {
  color: var(--text-1);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navListItem a:hover {
  color: var(--text-4);
}

.burgerMenu {
  display: none;
  cursor: pointer;
}

.sideMenu {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 0;
  left: 0;
  max-width: none;
  max-height: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  transition: all 3s ease-in-out 300;
}

.sideMenu ul {
  max-width: 100vw;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 4rem;
  max-height: none;
  background-color: var(--main-2);
}

.sideMenu li {
  margin-bottom: 1rem;
}

.closeSideMenuCross {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  font-size: 1.75rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .burgerMenu {
    display: initial;
  }

  .closeSideMenuCross {
    display: initial;
  }
}
